.page {
  background: #000;
  min-height: 100vh;
  width: 100vw;
  color: white;
  padding: 40px;
}
/* Only 6 cards visible */
.scroll-container {
  position: relative;
 width: 1400px; /* EXACT space for 6 cards */
  overflow: hidden; /* hide extra celebrities */
  margin: 0 auto;
  display: flex;
  align-items: center;
}
/* Left/Right Buttons */
.arrow {
  background: rgba(255, 255, 255, 0.15);
  border: none;
  color: white;
  font-size: 32px;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 2;
}
.arrow:disabled {
  opacity: 0.2;
}
/* The slider row */
.scroll-row {
  display: flex;
  gap: 40px;
  overflow: hidden;
  scroll-behavior:auto;
}
/* Each card */
.actor-card {
  min-width: 180px;
  text-align: center;
  background: transparent; /* ensures no white box */
}
.actor-card-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}
.rank {
  margin-top: 10px;
  font-size: 18px;
}
.rank span {
  color: #4fe14b;
}
.labels-row {
  display: flex;
  justify-content: space-between;
  width: 1280px; /* same width as the slider */
  margin: 0 auto 10px auto;
}
.label {
  font-size: 14px;
  color: #f5c518; /* IMDb yellow */
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}